var options = '<option value="">Select Locations</option>';
<% @locations.each do |location| %>
  options += '<option value="<%= location.id %>"><%= location.name + "(" + location.region.name + ")" %></option>';
<% end %>
$("#location_ids").html(options);



